# Ignore node_modules directory
node_modules/

# Ignore build output
build/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore compiled binaries or executables
*.exe
*.dll
*.so
*.dylib

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock
